html,body{
  margin: 0 ;
  padding: 0;
}

.shell-content {
  max-width: 100%;
  display: flex;
  justify-content: center;
}

.app-wrapper{
  display: grid;
  max-width: 1800px;

  grid-template-areas:
  "header header"
  "navigation content";

  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;

}